:root {
    --mainFont: 'Lobster', cursive;
    --headersFont: 'Rum Raisin', sans-serif;
    --mainDarkBlue: #21273d;
    --mainLightBlue: #b9d4f1;
    --darkGray: #6a759b;
}

/*--------------- Hame page ---------------*/
.welcome-container {
    width: 100%;
    height: 78vh;
    display: flex;
    flex-wrap: wrap;
}

.welcome-sign, .welcome-info {
    width: 50%;
    height: 100%;
}

.welcome-sign {
    display: flex;
    justify-content: center;
    /*    align-items:center;*/
}

.welcome-h1 {
    padding-top: 7vh;
    width: 85%;
    height: 80%;
    color: var(--mainDarkBlue);
    font-family: var(--mainFont);
    font-size: 12rem;
}


.welcome-info {
    color: var(--mainDarkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    text-align: center;
    transition: 0.5s ease-in-out;
}
span {
    color: var(--mainDarkBlue);
    background-image: linear-gradient(0deg, white,white);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease-in-out;
}
    .welcome-info:hover {
        background: var(--mainDarkBlue);
        color: var(--mainLightBlue);
        border-radius: 40%;
    }

        .welcome-info:hover > .welcome-h2 span {
            color: var(--mainLightBlue);
            background-size: 100% 3px;
        }

        .welcome-info:hover > .mini-logo {
            filter: drop-shadow(0px 0px 10px black);
        }

.welcome-h2 {
    font-size: 3rem;
    font-family: var(--headersFont);
}

.mini-logo {
    transition: 0.5s ease-in-out;
    width: 20%;
    height: 20%;
}










/*--------------- cards view ---------------*/
.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: 33%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    border: 4px double black;
}

.card-img-box {
    width: 100%;
    height: 80%;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
}

.card-info-header, .card-info-footer {
    width: 100%;
    height: 50%;
}

.card-info-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card-info-footer > h2 {
        width: 30%;
    }

.card-img {
    width: 100%;
    height: 100%;
}




/*.card {
    width: 30%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    border: 4px double black;
    border-radius: 15%;
    margin-bottom: 4vh;
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-info, .card-img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
}*/

/*.card-info {
    padding: 10%;
    right: 100%;
    font-size: 2rem;
    overflow: auto;
}

.card-img-box {
    right: 0;
}

.card:hover > .card-img-box {
    right: -100%;
}

.card:hover > .card-info {
    right: 0;
}*/


/*--------------- cards view ---------------*/



/*--------------- admin view ---------------*/

.admin-table {
    width: 100%;
}

.table-tr {
    transition: 0.3s;
}

    .table-tr:hover {
        background: gray;
    }


.table-th {
    text-align: center;
    font-weight: 900;
}

.table-td {
    font-size: 1.5rem;
    font-weight: 900;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    height: 30vh;
    min-width: 8vw;
    max-width: 15vw;
}

.table-img {
    width: 100%;
    height: 100%;
}

/*--------------- admin view ---------------*/
